{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}
<div class="container text-center" ng-controller="checkoutCtrl">
    Your order: 
    <br><br>
    {%verbatim%}
    <div ng-show="!emptyCart">
    	<div class="border rounded" ng-repeat="orderLine in order">
    		{{ orderLine.item__name }} : {{ orderLine.item__description }} : {{ orderLine.price }}
        <div ng-show="orderLine.discount__rate">Discount Applied: {{100*orderLine.discount__rate}}%</div>
        <a href="#" ng-click="cancelLine(orderLine.pk)">Remove Line</a>
        <hr>
    	</div>
      <div>
        Total: ${{ totalPrice }}
      </div>
    </div>
    <div ng-show="emptyCart">Cart is Empty</div>

    <div ng-if="orderLine.item__type == 'CM'|orderLine.item__type=='UM'">
      <input type="text" ng-model="discountCode" placeholder="Discount Code">
      <button ng-click="applyDiscount(discountCode,orderLine)">Apply</button>
    </div>
  	{% endverbatim %}
        <div id="braintree-dropin"></div>

  <!--<a href="#" ng-click="newPaymentMethod()" ng-show="!showAddPaymentMethod">New Payment Method</a>
  <div ng-show="showAddPaymentMethod">
    <button ng-click="addPaymentMethod()">Add Payment Method</button>
  </div>-->

  <br><br>
  <button ng-click="pay()">Pay</button>
</div>
{%endblock%}