{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}
<div class="container text-center">
<h2>Start a New Thread</h2>
  <form method="post" action="/createthread/">
    {% csrf_token %}
    {% for field in threadForm %}
      <p>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" data-bindattr-3="3">Start Thread</button>
  </form>
</div>
{%endblock%}