
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

            {% load static %}
            <a class="navbar-brand" href="/"><img src="{% static "images/aeromember.png" %}" /></a>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <button class="navbar-toggler-right navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapseableDiv" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id='headerCollapseableDiv'>
                <ul class="navbar-nav mr-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">About <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/termsofservice">Terms of Service</a>
                            <a href="#" class="dropdown-item" onClick="alert('For questions or concerns email ???')">Contact</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/forum" class="nav-link" role="button" >Forum</a>
                    </li>
                    <li class="nav-item">
                        <a href="/newsletter" class="nav-link" role="button" >Newsletter</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }}<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            {% if request.session.userPlan != None %}
                            <a href="/subscribe" class="dropdown-item">Manage Membership ({{ request.session.userPlan.name }})</a>
                            {% else %}
                            <a href="/subscribe" class="dropdown-item">Upgrade Membership</a>
                            {% endif %}
                            <a href="/accountsettings" class="dropdown-item">Account Settings</a>
                            <a href="/editprofile" class="dropdown-item">Profile</a>
                            <a href="/signout" class="dropdown-item">Sign Out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="/signin" class="nav-link" role="button" >Sign In </a>
                    </li>
                    {% endif %}
                    {% if request.session.currCompany != None %}
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.session.currCompany.company.name }}<span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/viewcompany/{{request.session.currCompany.company.id}}" class="dropdown-item">Details</a>
                            {% if request.session.currCompany.is_admin %}
                                <a href="/subscribecompany/" class="dropdown-item">Manage Membership ({{ request.session.currCompany.plan.name }})</a>
                                                            {% endif %}
                            {% if request.session.companies|length > 1 %}
                                <a href="/setcompany" class="dropdown-item">Select Other Company</a>
                            {% endif %}
                        </div>
                    </li>
                    {% else %}
                        {% if user.is_authenticated %}
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Companies
                                <span class="caret"></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% for c in request.session.companies %}
                                    <a href="/setcompany/{{c.company.id}}/" class="dropdown-item">{{ c.company.name }}</a>
                                {% endfor %}
                                <a href="/companyregistration" class="dropdown-item">Add Company</a>
                            </div>
                        </li>

                        {% endif %}
                    {% endif %}
                        <li class="dropdown nav-item">
                            <a href="/checkout" class="nav-link" role="button" >Cart</a>
                        </li>                </ul>
            </div>
            <!-- /.navbar-collapse -->

    </nav>
<br><br><br>