<div ng-controller="headCtrl">
	<nav class="navbar navbar-default navbar-fixed-top header-row">
		<div class="container-fluid header-row">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><font class="secondary-color">AeroMembers</font></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse header-row" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font class="secondary-color">About <span class="caret"></span></font></a>
						<ul class="dropdown-menu">
							<li ><a href="/termsOfService">Terms of Service</a></li>
							<li><a href="#" onClick="alert('For questions or concerns email ???')">Contact</a></li>
						</ul>
					</li>
					{% if user.is_authenticated %}
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font class="secondary-color">Hello {{ user.first_name }} {{ user.last_name }}<span class="caret"></span></font></a>
						<ul class="dropdown-menu">
							<li ><a href="/accountsettings">Account Settings</a></li>
							<li><a href="#" >Profile</a></li>
							<li><a href="/signout">Sign Out</a></li>
						</ul>
					</li>
					{% else %}
					<li>
						<a href="/login" role="button" ><font class="secondary-color">Sign In </font></a>
					</li>
					<li>
						<a href="/signup" role="button" ><font class="secondary-color">Sign Up </font></a>
					</li>
					{% endif %}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</div>
<br><br><br>