{% extends "base.html" %}
{%block content%}
<body>
	{%include 'header.html'%}
	{% csrf_token %}
	<br><br><br>
	<div>Welcome to AeroMembers.</div>


<!--
    <form action="http://games.espn.com/ffl/trade?leagueId=977855" name="tradeForm" method="POST">
      <input type="hidden" name="incoming" value="1" />
      <input type="hidden" name="teamId" value="6" />
      <input type="hidden" name="rostermove" value="4&#95;13981&#95;6&#95;2&#95;13&#95;20" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="4&#95;8544&#95;13&#95;2&#95;6&#95;20" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="expireTime" value="2" />
      <input type="hidden" name="mailText" value="" />
      <input type="hidden" name="&#32;Wr" value="" />
      <input type="hidden" name="" value="" />
      <input type="submit" value="Submit request" />
    </form>
-->
      
      <form action="http://games.espn.com/ffl/clubhouse?leagueId=1210475&teamId=8&scoringPeriodId=4" name="dropForm" method="POST" >
      <input type="hidden" name="incoming" value="1" />
      <input type="hidden" name="confirmed" value="1" />
      <input type="hidden" name="trans" value="3&#95;13994&#95;20&#95;&#45;1&#95;1002" />
      <input type="hidden" name="confirmBtn" value="Confirm" />
      <input type="submit" value="Form drop" />
    </form>


        <form action="http://games.espn.com/ffl/trade?leagueId=977855XXX" name="tradeForm" method="POST" >
      <input type="hidden" name="incoming" value="1" />
      <input type="hidden" name="teamId" value="6" />
      <input type="hidden" name="rostermove" value="4&#95;8544&#95;13&#95;2&#95;6&#95;20" />
      <input type="hidden" name="rostermove" value="4&#95;13981&#95;6&#95;2&#95;13&#95;20" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="rostermove" value="" />
      <input type="hidden" name="expireTime" value="2" />
      <input type="hidden" name="mailText" value="" />
      <input type="hidden" name="&#32;Wr" value="" />
      <input type="hidden" name="" value="" />
      <input type="submit" value="Form trade" />
    </form>
      <input type="button" value="AJAX trade" onclick="submitTrade();" />
    <script>
      function submitTrade()
      {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http:\/\/games.espn.com\/ffl\/trade?leagueId=977855", true);
        xhr.setRequestHeader("Content-Type", "application\/x-www-form-urlencoded");
        xhr.setRequestHeader("Accept", "text\/html,application\/xhtml+xml,application\/xml;q=0.9,image\/webp,image\/apng,*\/*;q=0.8");
        xhr.setRequestHeader("Accept-Language", "en-US,en;q=0.8");
        xhr.withCredentials = true;
        var body = "\r\n" + 
          "incoming=1&teamId=6&rostermove=4_13981_6_2_13_20&rostermove=&rostermove=&rostermove=4_8544_13_2_6_20&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&rostermove=&expireTime=2&mailText=\r\n" + 
          " Wr\r\n" + 
          "\r\n" + 
          "\r\n";
        var aBody = new Uint8Array(body.length);
        for (var i = 0; i < aBody.length; i++)
          aBody[i] = body.charCodeAt(i); 
        xhr.send(new Blob([aBody]));
      }
    </script>
</body>
      <script>
            
      </script>

{%endblock%}