{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}
<div class="container text-center" ng-controller="braintreeCtrl">
<div class="radio">
  <label><input type="radio" ng-model="membershipSelected" value="SILVER_USER">Silver</label>
</div>
<div class="radio">
  <label><input type="radio" ng-model="membershipSelected" value="GOLD_USER">Gold</label>
</div>
<div class="radio">
  <label><input type="radio" ng-model="membershipSelected" value="PLATINUM_USER">Platinum</label>
</div>
<!--
<div class="radio">
  <label><input type="radio" ng-model="membershipSelected" value="silverCompany">Silver</label>
</div>
<div class="radio">
  <label><input type="radio" ng-model="membershipSelected" value="goldCompany">Gold</label>
</div>
<div class="radio">
  <label><input type="radio" ng-model="membershipSelected" value="sponsorCompany">Sponsor</label>
</div>
-->


  <div id="subscribe-payment-container"></div>
  {%verbatim%}<a ng-href="/membershipcheckout/{{membershipSelected}}">Purchase</a>{%endverbatim%}
</div>
{%endblock%}