{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}
<div class="container text-center">

<h2>Social Accounts</h2>

<table class="table">
  <tbody>
    <tr>
      <td>
        <span>Facebook</span>
      </td>
        <td>
          {% if facebook_login %}
          <span>
            <p>Connected<!--  as <a href="https://facebook.com/{{ facebook_login.extra_data.email }}/" target="_blank">{{ facebook_login.extra_data.email }}</a>--></p>
          </span>
          {% else %}
            <span>
            <a href="{% url 'social:begin' 'facebook' %}">Connect</a>
             </span>
          {% endif %}
      </td>
      <td>
        {% if facebook_login and can_disconnect %}
          <form name="facebookDisconnect" method="post" action="{% url 'social:disconnect' 'facebook' %}">
          {% csrf_token %}
          <a href="#" onClick="document.forms.facebookDisconnect.submit();">Disconnect</a>
          </form>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <span>LinkedIn<i class="fa fa-linkedin-oauth2"></i></span>
      </td>
        <td>
          {% if linkedin_login %}
          <span>
            <p>Connected<!-- as <a href="https://linkedin-oauth2.com/{{ linkedin_login.extra_data.id }}/" target="_blank">{{ linkedin_login.id }}</a>--></p>
          </span>
          {% else %}
            <span>
            <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Connect</a>
             </span>
          {% endif %}
      </td>
      <td>
        {% if linkedin_login and can_disconnect %}
          <form name="linkedinDisconnect" method="post" action="{% url 'social:disconnect' 'linkedin-oauth2' %}">
          {% csrf_token %}
          <a href="#" onClick="document.forms.linkedinDisconnect.submit();">Disconnect</a>
          </form>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <span>Google<i class="fa fa-google-oauth2"></i></span>
      </td>
        <td>
          {% if google_login %}
          <span>
            <p>Connected<!--  as <a href="https://google-oauth2.com/{{ google_login.extra_data.id }}/" target="_blank">{{ google_login.id }}</a>--></p>
          </span>
          {% else %}
            <span>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Connect</a>
             </span>
          {% endif %}
        </td>
      <td>
        {% if google_login and can_disconnect %}
          <form name="googleDisconnect" method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
          {% csrf_token %}
          <a href="#" onClick="document.forms.googleDisconnect.submit();">Disconnect</a>
          </form>
        {% endif %}
      </td>
    </tr>
    
    <tr>
      <td>AeroMembers Login</td>
      <td></td>
      <td>
    <a href="{% url 'password' %}" >Change Password</a></td>
    </tr>
  </tbody>
</table>
</div>
{%endblock%}
