{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}

  <form method="post">
    {% csrf_token %}
    {% for field in userForm %}
      {% if field != userForm.password %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endif %}
    {% endfor %}

    <p>
        {{ profileForm.birthdate.label_tag }}<br>
        {{ profileForm.birthdate }}
        {% if profileForm.birthdate.help_text %}
          <small style="color: grey">{{ profileForm.birthdate.help_text }}</small>
        {% endif %}
        {% for error in profileForm.birthdate.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>

    {% for field in contactForm %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    <p>
        {{ profileForm.private.label_tag }}<br>
        {{ profileForm.private }}
        {% if profileForm.private.help_text %}
          <small style="color: grey">{{ profileForm.private.help_text }}</small>
        {% endif %}
        {% for error in profileForm.private.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>

    <html>
    <button type="submit">Save Changes</button>
  </form>

{%endblock%}