{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}
<div class="container ">
  <h2>Edit Profile</h2>
  <form method="post" action="/editprofile/" >
    {% csrf_token %}
    {% for field in userForm %}
      {% if field != userForm.password %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endif %}
    {% endfor %}

    <p>
        {{ profileForm.birthdate.label_tag }}<br>
        {{ profileForm.birthdate }}
        {% if profileForm.birthdate.help_text %}
          <small style="color: grey">{{ profileForm.birthdate.help_text }}</small>
        {% endif %}
        {% for error in profileForm.birthdate.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>

    {% for field in contactForm %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    <label class="custom-control custom-checkbox">
          {{ profileForm.private }}
          <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Hide my name and email from other users</span>
          </label>
        {% for error in profileForm.private.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

    <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Save Changes</button>
  </form>
</div>

{%endblock%}