{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}
<div class="container text-center">

<form method="post" action="/editcompany/{{companyId}}/">
    {% csrf_token %}
    {% for field in companyForm %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Save</button>
</form>
</div>
{%endblock%}