{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}

  <div class="container text-center">
  <form method="post" action="/accountsettings/password/" class="form-signin" data-ember-action="2">
    {% csrf_token %}
        <h2 class="form-signin-heading"> Change Password </h2>
  {% if not user.has_usable_password %}
    Almost Done! Create a password for your account
    <p style="color: red">You have not defined a password yet.</p>
  {% endif %}
<br>
    {{ form.old_password }}
    {% for error in form.old_password.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    <br>
    {{ form.new_password1 }}
    {% for error in form.new_password1.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    <br>
    {{ form.new_password2 }}
    {% for error in form.new_password2.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    <br>
    <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Save</button>

  </form>
</div>
  {%endblock%}
