{% extends "base.html" %}
{%block content%}
{%include 'header.html'%}
<div class="container text-center">
  <h2>Sign Up</h2>
  {% if not backend %}
  <a href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
     class="btn btn-primary social-login-btn social-facebook"><i class="fa fa-facebook"></i></a>
  <a href="{% url 'social:begin' backend='linkedin-oauth2' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
     class="btn btn-primary social-login-btn social-linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="{% url 'social:begin' backend='google-oauth2' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
     class="btn btn-primary social-login-btn social-google"><i class="fa fa-google-plus"></i></a>
  <hr>
  {% endif %}
  <form method="post" action="/signup/{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" >
    {% csrf_token %}
    {% for field in userForm %}
      <p>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <hr>
    <small>The following fields are optional, but will help us customize your AeroMember experience. </small>
    <br><br>
    <p>
        {{ profileForm.birthdate }}
        {% for error in profileForm.birthdate.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>

    {% for field in contactForm %}
      <p>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

        <label class="custom-control custom-checkbox">
          {{ profileForm.private }}
          <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Hide my name and email from other users</span>
          </label>
        {% for error in profileForm.private.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Sign Up</button>
    <br>
    <small>By registering, you agree to the <a target="_blank" href="/termsofservice">Terms of Service</a> and <a target="_blank" href="/privacy">Privacy Policy</a></small>
  </form>
</div>
{%endblock%}